@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&display=swap');
html {
  overflow-y: scroll;
}

.homepageContainerLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  min-height: 50vh;
  padding: 12px;
  width: 900px;
  margin-bottom: 40px;
  transition: color 1.5s ease;
}
.homepageContainerDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 96px;
  min-height: 50vh;
  padding: 12px;
  width: 900px;
  margin-bottom: 40px;
  transition: color 1.5s ease;
}
#headshot img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: 0% 25%;
  border-radius: 50%;
  border: 3px solid #cc5500;
}
#introLight {
  font-size: 36px;
  margin-top: 36px;
  font-weight: bolder;
  transition: color 1.5s ease;

  color: black;
}
#introDark {
  font-size: 36px;
  margin-top: 36px;
  font-weight: bolder;
  color: white;
  transition: color 1.5s ease;
}
#nameLight {
  color: #cc5500;
  font-size: 48px;
  font-weight: bolder;
}
#learnAboutMeLight button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px;
  font: inherit;
  outline: inherit;
  color: black;
  transition: color 1.5s ease;
}
#learnAboutMeDark button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  background: none;
  color: inherit;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 8px;
  font: inherit;
  outline: inherit;
  color: white;
  transition: color 1.5s ease;
}
#learnAboutMeLight button:hover {
  cursor: pointer;
  background-color: rgb(211, 211, 211, 0.7);
  /* background-color: white; */
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  cursor: pointer;
}
#learnAboutMeDark button:hover {
  cursor: pointer;
  background-color: rgba(211, 211, 211, 0.181);
  /* background-color: white; */
  transition: all 0.8s ease;
  -webkit-transition: all 0.8s ease;
  cursor: pointer;
}
.pLight {
  color: black;
  transition: color 1.5s ease;
}
.pDark {
  color: white;
  transition: color 1.5s ease;
}
@media screen and (max-width: 600px) {
  .homepageContainerLight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    min-height: 50vh;
    padding: 12px;
    width: 90vw;
    margin-bottom: 40px;
  }
  .homepageContainerDark {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 96px;
    min-height: 50vh;
    padding: 12px;
    width: 90vw;
    margin-bottom: 40px;
  }
  #introLight {
    font-size: 1rem;
    margin-top: 36px;
    font-weight: bolder;
    color: black;
  }
  #introDark {
    font-size: 1rem;
    margin-top: 36px;
    font-weight: bolder;
    color: white;
  }
  #nameLight {
    color: #cc5500;
    font-size: 2rem;
    font-weight: bolder;
  }
  .pLight {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: black;
  }
  .pLight p {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    color: black;
  }
  .pDark {
    color: white;
  }
}
