body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  user-select: none;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.mainContainerLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: background-color 1s ease;
  background-color: rgba(232, 232, 232, 0.559);
}
.mainContainerDark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: background-color 1s ease;
  background-color: #35363a;
}
