body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(232, 232, 232, 0.559);
  font-family: 'Montserrat', sans-serif;
  user-select: none;
}
.mainContainer {
}
